            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/production-houses">Production Houses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/movies">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/casts">Casts</a>
                </li>
            </ul>
    <!-- <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/production-houses">Production Houses</a></li>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/casts">Casts</a></li>
        </ul>
    </nav> -->